<Header>
  <LinkTo @route="invoices.new" @class="c-header-nav-link">Cargar Factura</LinkTo>
</Header>
<div class="c-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{outlet}}
      </div>
    </div>
  </div>
</div>