<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Movimiento de caja</strong>
        <div class="card-header-actions">
          <a class="card-header-action btn-setting" href="#">
            <i class="icon-settings"></i>A
          </a>
        </div>
            </div>
            <div class="collapse show">
                <div class="card-body">
                    <MovementForm @model={{model}} @saveAction={{action "save"}}>
                    </MovementForm>
                </div>
            </div>
        </div>
    </div>
</div>