<div class="card">
  <div class="card-header">
    Compras
  </div>
  <ul class="list-group list-group-flush">
    <LinkTo @route="reports.invoices" @class="list-group-item">Facturas de Compras</LinkTo>
  </ul>
</div>
{{outlet}}